@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --stroke-grid: #f3f4f6;
  --tooltip-bg: #ffffff;
  --tooltip-border: #e5e7eb;
  --tooltip-text: #1e293b;
}

.dark {
  --stroke-grid: #334155;
  --tooltip-bg: #1e293b;
  --tooltip-border: #334155;
  --tooltip-text: #f1f5f9;
}
